.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}

.vote-box {
  display: flex;
  align-items: center;
}

.vote-box .material-icons {
  margin-left: 4px;
}
